@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.Titulocategorias h1 {
    margin-top: 20px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.Titulocategorias {
 text-align: center;
 z-index: 1;
}

.Titulocategorias p{
    margin-top: 10px;
    font-size: 14px;
    color: #3c3c3c;
}