@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


.Titulocategorias h1 {
    margin-top: 20px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}

.Titulocategorias {
    text-align: center;
    z-index: 1;
}

.Titulocategorias p {
    margin-top: 10px;
    font-size: 12px;
    color: #3c3c3c;
    margin-inline: 30px;
}

.faixatop {
    margin-top: 20px;
}

#p-dest-title {
    margin-top: 10px;
    font-size: 14px;
    color: #3c3c3c;
    text-align: center;
    margin-bottom: 10px;
}

.Titulocategorias h1 i {
    color: #708f88;
    margin-right: 8px;
    font-size: 15px;
    vertical-align: middle;
    /* Espaço entre o texto e o ícone */
}

/* Estilização específica para o ícone Font Awesome na seção de título */